
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading h4">The Hangman Game</div>
            <div class="panel-body">
                <div class="panel">
                    <span class="h5">Game Begin: </span>
                        @Html.ActionLink("Start", "GameBegin", "Game", null, new { @class = "btn-warning" })
                </div>

            </div>
        </div>
    </div>
</div>


